.dashboard{   
   
    height: 100vh;
    margin: 0 auto ;
    margin-top: 60px;
    margin-left: 30px ;
}
.card-top{
    display: flex;
    width: 95%;
    margin:  10px auto;
   
}
.card-top_item{
    width: 23%;
    height: 150px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 5px 10px;
    margin-top: 20px;
    padding: 10px;
    color: #aaa8a8;

    .title{
        font-weight: 600;
        
    }
    .increase{
        float: right;
        color: rgb(43, 235, 39);
        font-size: 15px;
        font-weight: 600;
        margin-top: -20px;
    }
    .amount{
        font-size: 70px;
        font-weight: 300;
    }
    .link{
        margin-top: 10px;
        font-size: 15px;
        text-decoration: underline;
        color: #888;
    }
    .icon{
        float: right;
    }

}
.card-top_item:hover{
    cursor: pointer;
}
