.dashboard{   
    width: 100vw;
    background-color: rgb(153, 71, 71);
    height: 100vh;
   margin: 0 auto ;
}
.chart1{
    width: 100px;
    height: 100px;
    background-color: rgb(188, 154, 154);
  
}