/* CustomerManagement styles */
.customerPage-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .customerPage-container h1 {
    margin-bottom: 20px;
    color: #333;
    margin-left: 50px;
  }
  
  .customer-search {
    display: block;
    width: 70%;
    max-width: 700px;
    padding: 8px 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 50px;
    margin-top: 40px;
  }
  
 .customer-item{
    display: flex;
    
 }