.admin-layout{
    display: flex;
}
.main-content{
flex:6
margin-left: 270px;
height: 100%;
}
.notify{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
