.NoPro{
    opacity: 0;
	width: 0;
	color: red;
	font-size: 30px;
	font-weight: bold;
	height: 320px;
    h1{

    }
}
.ListPro{
    .nameList{

    }
    .listProInfilter{

    }
    .seeAll{

    }
}
.product_item{
    .product-link{

    }
    .price{

    }
    .ratingresult{
        .addCart{

        }
        .tooltiptext{

        }
    }
    
}