.NoPro{
    opacity: 0;
	width: 0;
	color: red;
	font-size: 30px;
	font-weight: bold;
	height: 320px;
    h1{

    }
}
.ListPro{
    .nameList{

    }
    .listProInfilter{

    }
    .seeAll{

    }
}
.product_item{
    width: 240px;
		height: 350px;
		background-color: #222;
		border-radius: 20px;
	
		display: block;
		position: relative;
		padding: 10px 0;
		transition: transform 0.3s, box-shadow 0.3s; /* Hiệu ứng chuyển động */
		margin:20px 15px;
    .product-link{

    }
    img{
        display: block;
			width: 170px;
			height: 180px;
			margin: 0 auto;
			border-radius: 10px;
    }
    h3{
        display: block;
			padding: 0 10px;
			color: #ffffff;
			line-height: 1.3em;
			font-size: 18px;
			font-weight: normal;
			margin-top: 20px;
    }
    .price{
        display: block;
		padding: 5px 10px 0px 10px;
        span{
            color: #d8d8d8;
			font-size: 12px;
			margin-left: 8px;
            display: inline-block;
            vertical-align: middle;
            font-size: 12px;
            text-decoration: line-through;
            margin-left: 5px;
            color: #767575;
        }
        strong{
            display: inline-block;
		    vertical-align: middle;
		    overflow: hidden;
		    font-size: 14px;
		    color: #f2f2f2;
		    line-height: 15px;
        }

    }
    .ratingresult{
        margin-top: 8px;
			margin-left: 10px;
        span{
            display: inline-block;
		    top: 1px;
		    margin-left: 5px;
		    vertical-align: middle;
		    text-decoration: none;
		    font-size: 12px;
		    color: #fffefe;
        }
        .addCart{

        }
        .tooltiptext{

        }
    }
    .fa-star, .fa-star-o {
        color: orange;
    }
    label{
        display: inline-block;
        font-size: 12px;
        color: #fff;
        font-weight: 600;
        border-radius: 5px;
        height: 18px;
        margin-left: 10px;
        border: #ff9c00 1px solid;
        

    }
    label.giamgia {
        background-image: -webkit-gradient(linear, left top, right top, from(#ff9c00), to(#ec1f1f));
        background-image: -webkit-linear-gradient(left, #ff9c00 0%, #ec1f1f 100%);
        background-image: -o-linear-gradient(left, #ff9c00 0%, #ec1f1f 100%);
        background-image: linear-gradient(90deg, #ff9c00 0%, #ec1f1f 100%);
        border-radius: 10px;
        padding-bottom: 22px;
        padding-right:8px ;
    }
    label.moi {
        border: #ff9c00 1px solid;	
        padding-bottom: 5px;
    }
    label.hightRate {
        border: #f6e0e0 1px solid;	
        font-size: 10px;
        background-color: #e3e7eb;
        color: #ec1f1f;
    }
    label.tragop {
        border: #4d4c4b 1px solid;	
        padding-bottom: 5px;
    }
    .fa-bolt { 
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        background: #f21;
        color: white;
    }
}