.NoPro{
    opacity: 0;
	width: 0;
	color: red;
	font-size: 30px;
	font-weight: bold;
	height: 320px;
    h1{

    }
}
.ListPro{
    .nameList{

    }
    .listProInfilter{

    }
    .seeAll{

    }
}
.product_item{
    width: 240px;
		height: 350px;
		background-color: #222;
		border-radius: 20px;
	
		display: block;
		position: relative;
		padding: 10px 0;
		transition: transform 0.3s, box-shadow 0.3s; /* Hiệu ứng chuyển động */
		margin:20px 15px;
    .product-link{

    }
    img{
        display: block;
			width: 170px;
			height: 180px;
			margin: 0 auto;
			border-radius: 10px;
    }
    h3{
        display: block;
			padding: 0 10px;
			color: #ffffff;
			line-height: 1.3em;
			font-size: 18px;
			font-weight: normal;
			margin-top: 20px;
    }
    .price{
        display: inline-block;
	    vertical-align: middle;
	    font-size: 12px;
	    text-decoration: line-through;
	    margin-left: 5px;
	    color: #222;

    }
    .ratingresult{
        margin-top: 8px;
			margin-left: 10px;
        .addCart{

        }
        .tooltiptext{

        }
    }
    
}